<div class="main-container">
    <h1>Timetabling Challenge</h1>
    <div class="buttons-container">
        <div class="tb-button" ng-click="toggleSitesVisibility()" ng-class="{'not-active': !sitesVisible}">
            SITES
        </div>
        <div class="tb-button">
            B2
        </div>
        <div class="tb-button">
            B3
        </div>
        <div class="tb-button">
            B4
        </div>
    </div>

    <div class="map-container">
        <div id="leaflet-map"></div>
    </div>
</div>