<div class="main-container">
    <h1>Timetabling Challenge</h1>
    <div class="buttons-container">
        <div class="tb-button" ng-click="toggleSitesVisibility()" ng-class="{'not-active': !sitesVisible}">
            SITES
        </div>
        <div class="tb-button" ng-click="toggleRoutesVisibility()" ng-class="{'not-active': !routesVisible}">
            ROUTES
        </div>
        <div class="tb-button" ng-click="toggleArmsVisibility()" ng-class="{'not-active': !armsVisible}">
            ARMS
        </div>
        <div class="tb-button" ng-click="toggleEdgesVisibility()" ng-class="{'not-active': !edgesVisible}">
            EDGES
        </div>
        <div class="tb-button" ng-click="toggleBusesVisibility()" ng-class="{'not-active': !busesVisible}">
            BUSES
        </div>
    </div>

    <div class="map-container">
        <div id="leaflet-map"></div>
    </div>
</div>